body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: #1d1c1f;
    color: #ffffff;
    display:none;
}

.pageWrapper{
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
}

nav {
    background-color: rgba(7, 77, 114);
    border-bottom: 1px solid rgba(124, 124, 124, 0.29);
    font-size: 1.5rem;
    text-align: right;
    position: fixed;
    width: 100vw;
    z-index: 99;
}

nav header {
    display: inline-block;
    float:left;
    margin-top: 1.5rem;
    margin-left: 1rem;
}

nav li {
    display: inline;
    margin-right: 2.5rem;
}

.home {
    width: 100vw;
    height: 100vh;
    background-image: url(img/backgroundHouses.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home header {
    font-size: 4rem;
    text-align: center;
    padding-top: 40vh;
}

.aboutMe {
    width: 100vw;
    background-color: rgb(7, 77, 114);
    text-align: center;
    padding-top:4.5rem;
    padding-bottom:4.5rem;
}

.aboutMe img {
    width: 300px;
    border-radius: 50%;
    border: 5px solid #ffffff;
}

.aboutMe .description {
    font-size: 1.5rem;
    vertical-align: top;
    width: 60%;
    display: inline-block;
    box-sizing: border-box;
    padding-left: 3rem;
    text-align: justify;
}

.aboutMe .description header {
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
}

.mySkills {
    width: 100vw;
    text-align: center;
    padding-top:4.5rem;
    padding-bottom:4.5rem;
}

.mySkills header {
    font-size: 2.5rem;
    font-weight: bold;
}

.mySkills img {
    width: 100px;
    height: 100px;
}

.mySkills figure {
    margin-top: 40px;
    width:150px;
    display: inline-block;
    text-align: center;
}

.mySkills figcaption {
    font-size: 1.5rem;
    margin-top: 25px;
}

.projects {
    width: 100vw;
    background-color: rgb(7, 77, 114);
    text-align: center;
    padding-top:4.5rem;
    padding-bottom:4.5rem;
}

.projects header {
    font-size: 2.5rem;
    font-weight: bold;
}

.projects .projectsDescription{
    display: inline-block;
    font-size: 1.5rem;
    vertical-align: top;
    width:40%;
    text-align: justify;
}

.projects .projectsDescription .projectsBtn{
    width:250px;
    margin: auto;
    text-align: center;
    background-color: #29282a;
    padding: 1rem;
    border-radius: 64px;
    font-size: 2rem;
    letter-spacing: 5px;
}

.projects .projectsDescription .projectsBtn:hover{
    background-color: #1d1c1f;
    cursor: pointer;
}

.projects .projectsImg{
    display: inline-block;
    width: 350px;
    vertical-align: top;
    padding-left:2rem;
    vertical-align: top;

}

.projects .projectsImg img{
    width:100%;
}

.contact {
    width: 100vw;
    text-align: center;
    padding-top:4.5rem;
    padding-bottom:4.5rem;
    font-size: 1.5rem;
}

.contact header {
    font-size: 2.5rem;
    font-weight: bold;
}

.contact .contactWrapper{
    max-width:500px;
    margin: auto;
    text-align: left;
}

.contact i{
    margin-right: 1rem;
}

footer {
    width: 100vw;
    height: 20px;
    font-size: 22px;
    text-align: center;
    background-color: #0d0d0d;
    padding-bottom:  10px;
    padding-top:  10px;

}

a {
    text-decoration: none;
    color: white;
}

.buttonLink{
    color:#b3ffff;
    border: 1px solid #b3ffff;
    box-sizing: border-box;
    padding: .5rem;
    border-radius: 10px;
}

.iconLink{
    display: none;
}

.buttonLink:hover{
    background-color: #b3ffff;
    color: rgba(7, 77, 114);
}

.textLink:hover{
    color: #b3ffff;
}

.projectsExamples{
    box-sizing: border-box;
    padding-top:5rem;
    text-align: center;
}

.projectCard{
    display: inline-block;
    width:400px; 
    height: 500px;
    background-color: rgba(7, 77, 114);
    margin: 2rem;
    text-align: left;
    position: relative;
}

.projectCard .projectImage{
    width: 100%;
    height:350px;
}

.projectCard header{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    font-size:1.5rem;
    box-sizing: border-box;
}

.projectCard header img{
    width:20px;
}

.projectCard .description{
    padding: 1rem;
    font-size: 1.25rem;
}

.projectCard .overlay{
    position: absolute;
    width:100%;
    height: 100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(58, 60, 65, 0.94);
    opacity: 0;
    transition: .2s;
    padding-top: 4.5rem;
    border: 5px solid #19181a;
    box-sizing: border-box;
}

.projectCard:hover .overlay{
    opacity: 1;
}

.projectCard .overlay i{
    font-size:4rem;
}

.projectCard .overlay .iconContainer{
    width:150px;
    height:150px;
    box-sizing: border-box;
    text-align: center;
    padding-top: 2.5rem;
    background-color:  #1d1c1f;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 3em;
}

.projectCard .overlay .iconContainer:hover{
    background-color:#2c2b2e;
    cursor: pointer;
}

.iconDisabled{
    width:150px;
    height:150px;
    box-sizing: border-box;
    text-align: center;
    padding-top: 2.5rem;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 3em;
    background-color: #c62e2e;
}

.iconDisabled:hover{
    background-color: #c62e2e;
}


@media screen and (max-width: 950px) {
    nav{
        text-align: center;
        padding: 0;
    }
    
    nav .buttonLink{
        display: none;
    }
    
    nav .iconLink{
        display: block;
        position: fixed;
        color:#b3ffff;
        top:12px;
        right:10px;
        margin:0;
        color:
    }
    
    nav header{
        margin-top: 1rem;
        margin-bottom: 1rem;
        width:100%;
        font-size: 1.25rem;
        margin-left: 0;
    }
    
    .home header{
        font-size: 2.5rem;
    }
    
    .aboutMe img{
        width: 250px;
        display: block;
        margin: auto;
        margin-bottom: 1rem;
    }
    
    .aboutMe .description{
        padding-left: 0;
    }
    
    .mySkills figure{
        width: 25%;
    }
    
    .projects .projectsImg{
        display: none;
    }
    
    .projects .projectsDescription{
        width: 60%;
    }
    
    .projects .projectsDescription .projectsBtn{
        font-size:1.25rem;
        width:200px;
    }
    
    .contact .contactWrapper{
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    nav header{
        font-size:1rem;
    }
    
     nav .iconLink{
        top:10px;
        font-size: 1.5rem;
    }
    
    .home header{
        font-size: 2rem;
    }
    
    .aboutMe{
        padding-top: 2rem;
        padding-bottom:2rem;
    }
    
    .aboutMe img{
        width: 200px;
        display: block;
        margin: auto;
        margin-bottom: 1rem;
    }
    
    .aboutMe .description header{
        font-size:2rem;
    }
    
    .aboutMe .description{
        width:100%;
        padding-left:2rem;
        padding-right:2rem;
        font-size: 1.25em;
    }
    
    .mySkills{
        padding-top: 2rem;
        padding-bottom:2rem;
    }
    
    .mySkills header{
        font-size: 2rem;
    }
    
    .mySkills figure{
        width: 45%;
        margin: 0.5rem 0;
    }
    .mySkills figcaption {
        margin-top:1rem;
        font-size: 1.25rem;
    }
    
    .projects{
        padding-top: 2rem;
        padding-bottom:2rem;
    }
    
    .projects header{
        font-size: 2rem;
    }
    
    .projects .projectsDescription{
        width:80%;
        margin: 0;
        font-size: 1.25em;
    }
    
    .contact{
        padding-top: 2rem;
        padding-bottom:2rem;
    }
    
    .contact header{
        font-size: 2rem;
    }
    
    .contact .contactWrapper{
        font-size:1rem;
    }
    
    .contact .contactWrapper i{
        margin-right: 0.25rem;
    }
    
    footer{
        font-size: 1rem;
        padding: 0;
        margin: 0;
        padding-top:0.5rem;
        padding-bottom: 0.5rem;
    }
}

@media screen and (max-width: 500px) {
    .projectsExamples{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    
    .projectCard{
        width: 100%;
        height: auto;
        margin: 0;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 400px) {
    .mySkills figure{
        width: 100%;
    }
    
    .projects .projectsDescription .projectsBtn{
        font-size: 1rem;
        width:150px;
    }
}

