body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: #1d1c1f;
    overflow-x: hidden;
    color: #ffffff;
    display:none;
}

nav {
    background-color: rgba(7, 77, 114);
    border-bottom: 1px solid rgba(124, 124, 124, 0.29);
    font-size: 1.5rem;
    text-align: right;
    position: fixed;
    width: 100vw;
    z-index: 99;
}

nav header {
    display: inline-block;
    float:left;
    margin-top: 1.5rem;
    margin-left: 1rem;
}

nav li {
    display: inline;
    margin-right: 2.5rem;
}

.home {
    height: 100vh;
    background-image: url(img/backgroundHouses.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home header {
    font-size: 4rem;
    text-align: center;
    padding-top: 40vh;
}

.aboutMe {
    background-color: rgb(7, 77, 114);
    text-align: center;
    padding-top:4.5rem;
    padding-bottom:4.5rem;
}

.aboutMe img {
    width: 300px;
    border-radius: 50%;
    border: 5px solid #ffffff;
}

.aboutMe .description {
    font-size: 1.5rem;
    vertical-align: top;
    width: 60vw;
    display: inline-block;
    box-sizing: border-box;
    padding-left: 3rem;
    text-align: justify;
}

.aboutMe .description header {
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
}

.mySkills {
    text-align: center;
    padding-top:4.5rem;
    padding-bottom:4.5rem;
}

.mySkills header {
    font-size: 2.5rem;
    font-weight: bold;
}

.mySkills img {
    width: 100px;
    height: 100px;
}

.mySkills figure {
    margin-top: 40px;
    width:150px;
    display: inline-block;
    text-align: center;
}

.mySkills figcaption {
    font-size: 1.5rem;
    margin-top: 25px;
}

.projects {
    background-color: rgb(7, 77, 114);
    text-align: center;
    padding-top:4.5rem;
    padding-bottom:4.5rem;
}

.projects header {
    font-size: 2.5rem;
    font-weight: bold;
}

.projects .projectsDescription{
    display: inline-block;
    font-size: 1.5rem;
    vertical-align: top;
    width:40%;
    text-align: justify;
}

.projects .projectsDescription .projectsBtn{
    width:300px;
    margin: auto;
    text-align: center;
    background-color: #29282a;
    padding: 1rem;
    border-radius: 64px;
    font-size: 2rem;
    letter-spacing: 5px;
}

.projects .projectsDescription .projectsBtn:hover{
    background-color: #1d1c1f;
    cursor: pointer;
}

.projects .projectsImg{
    display: inline-block;
    width: 20%;
    padding-left:2rem;
    vertical-align: top;

}

.projects .projectsImg img{
    width:100%;
}

.contact {
    text-align: center;
    padding-top:4.5rem;
    padding-bottom:4.5rem;
    font-size: 1.5rem;
}

.contact header {
    font-size: 2.5rem;
    font-weight: bold;
}

.contact .contactWrapper{
    width:500px;
    margin: auto;
    text-align: left;
}

.contact i{
    margin-right: 1rem;
}

footer {
    height: 20px;
    font-size: 22px;
    text-align: center;
    background-color: #0d0d0d;
    padding: 10px 10px;
}

a {
    text-decoration: none;
    color: white;
}


