body {
    margin: 0 0;
    padding: 0 0;
    background-color:#222222;
    color:#ffd800;
}

.clockContainer {
    width:80vw;
    margin:auto;
    text-align: center;
    margin-top:300px;
}

.clock {
    font-size: 1.5rem;
}

.clockHeader {
    letter-spacing: 1rem;
}

.footerContainer {
    text-align: center;
    text-align: center;
    width: 40vw;
    margin: auto;
    margin-top:10rem;
    border-top:1px solid #ffd800;
    padding-top:1rem;
}

.letter {
    display:inline-block;
    width:20px;
    margin: 2px 2px;
    text-align: center;
}
.spaceLetter {
    display:inline-block;
    width:40px;
    text-align: center;
}

@media(max-width:1150px) {
    .clock {
    font-size: 0.8rem;
    }
    
    .letter {
    width:10px;
    }
    
    .spaceLetter {
    width:20px;
    }
}